* {
  margin: 0;
}

#main {
  margin: 10px;
  min-width: 600px;
  height: 500px;
  border: 1px solid orange;
}
.aside {
  width: 200px;
  margin: 25px;
  border: 1px solid red;
  height: 200px;
  float: left;
}
.content {
  margin-left: 250px;
  margin-right: 25px;
  margin-top: 25px;
  height: 450px;
  border: 1px solid blue;
}
.layout {
  margin: 10px auto;
  width: 20px;
}
#footer {
  margin: 10px;
  min-width: 600px;
  height: 50px;
  border: 1px solid pink;
}