* {
  margin: 0;
}
.main {
  margin: 20px;
  border: 1px orange solid;
  height: 800px;
  min-width: 800px;
}
.menu {
  border: 1px red solid;
  width: 150px;
  height: 500px;
  margin: 20px;
  float: left;
}
.aside {
  border: 1px green solid;
  width: 150px;
  height: 500px;
  margin: 20px;
  float: right;
}
.content {
  border: 1px blue solid;
  margin: 20px 200px 20px 200px;
  height: 750px;
}
.footer {
  border: 1px pink solid;
  height: 50px;
  margin: 20px;
  min-width: 800px;
}